@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
header {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
}

main {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #44454A;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.navtext, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #edf0f1;
  text-decoration: none;
}

.MainTextEmbed {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ccc;
  text-decoration: underline;
}

.MainTextEmbed {
  transition: all 0.2s ease 0s;
}

.MainTextEmbed:hover {
  color: #0088a9
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 44px;
  color: #edf0f1;
  text-decoration: none;
  align-items: center;
  padding: 20px 11%;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #edf0f1;
  text-decoration: none;
  align-items: center;
  padding: 20px 11%;
}

.maintext {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: #ccc;
  text-decoration: none;
  align-items: center;
  padding: 20px 11%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9
}

button {
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}
