@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root {
  --background-colour: #24252A
}

header {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background-colour);
}

footer {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background-colour);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10%;
  overflow: hidden;
}

footer {
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 40px 5%;
  overflow: hidden;
  margin: 0;
}

main {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #44454A;
  overflow: hidden;
  min-height: 1000px;
}

body {

}

.foottext {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  color: #aaa;
  padding: 5px;
}

.footline {
  width: 100%
}

@media screen and (min-width: 1000px) {
  /* TODO: add alt nav button to this section */
  .row {
    display: flex;
  }
  .column {
    float: left;
    padding: 5px;
  }
  .left {
    width: 70%;
  }
  .right {
    width: 30%;
  }
  .colright {
    margin: 10px;
  }
}

@media screen and (max-width:999px) {
  .colright {
    margin:10px 11%;
  }
  .foottext {
    margin: 2px 1%;
    float: left;
  }
}



.navtext, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #edf0f1;
  text-decoration: none;
}

.MainTextEmbed {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ccc;
  text-decoration: underline;
}

.MainTextEmbed {
  transition: all 0.2s ease 0s;
}

.MainTextEmbed:hover {
  color: #0088a9
}

.HomeImage {
  padding: 10px 35%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #edf0f1;
  text-decoration: none;
  align-items: center;
  padding: 5px 11%;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #edf0f1;
  text-decoration: none;
  align-items: center;
  padding: 5px 11%;
}

.maintext {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: #ccc;
  text-decoration: none;
  align-items: center;
  padding: 0px 11%;
}

.columntwotext {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: #ccc;
  text-decoration: none;
  align-items: center;
  padding: 1px 0%;
}



.SocialTitles {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 25px;
  color: #ccc;
  text-decoration: none;
  align-items: center;
  padding: 1px 0%;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 30px
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9
}

button {
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

/*
.ProfilePicture img {
  border-radius: 20%
}
*/


/* SOCIAL MEDIA ICONS */

.fa {
  padding: 15px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 25%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}
.fafoot {
  background: var(--background-colour);
  text-decoration: none;
  padding: 15px;
  width: 20px;
  text-align: center;
  margin: 0px 4px;
}
