@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --H-colour: #FCFCFC;
  --F-colour: #202020;
  --Alternate-color: #658fcd;
  --Body-colour: #FCFCFC;
  --MainTextColour: #252525;
  --Accent-color: rgba(10,90,169,0.8);
}

/* Header Content */
header {
  display: block;
  box-sizing: border-box;
  margin: 0;
  background-color: var(--H-colour);
}

header {
  position: fixed;
  right: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  overflow: hidden;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 5px;
  border-top-style: solid;
  border-top-color: black;
  border-width: 5px;
}

/* Changes cursor to pointer
when it hovers over image */
.logo {
  cursor: pointer;
}

/* Styling for nav */
.navtext {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: var(--MainTextColour);
  text-decoration: none;
}

button {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 50px
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: var(--Accent-color)
}

button {
  padding: 9px 25px;
  background-color: var(--Alternate-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
    background-color: var(--Accent-color);
}

/* Main body Content */
/* Formatting */
.mainbody {
  display: block;
  box-sizing: border-box;
  padding: 20px 10%;
  padding-top: 50px;
  background-color: var(--Body-colour);
  overflow: hidden;
  min-height: 800px;
}

/* Introductory content */
.prebody {
  display: block;
  background-color: var(--Alternate-color);
  padding: 120px 40px 40px 40px;
  border-bottom-style: solid;
  border-bottom-color:black;
  border-bottom-width:5px;
}

.HomeTitle {
  text-align: left;
  color: white;
  /*
  color: var(--MainTextColour);
  */
  margin-bottom: 0;
}

.introtext {
  color: white;
  /*
  color: rgba(100, 100, 100, 0.9);*/
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  align-items: left;
  padding: 5px 11%;
}

/* Text formatting */
h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 1000;
  font-size: 48px;
  color: var(--MainTextColour);
  text-decoration: none;
  align-items: center;
  padding: 5px 11%;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: var(--MainTextColour);
  text-decoration: none;
  align-items: center;
  padding: 5px 11%;
}

.maintext {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 25px;
  color: var(--MainTextColour);
  text-decoration: none;
  align-items: left;
  padding: 10px 11%;
}

/* For embedding links in main paragraphs */
.MainTextEmbed {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: var(--MainTextColour);
  text-decoration: underline;
}

.MainTextEmbed {
  transition: all 0.2s ease 0s;
}

.MainTextEmbed:hover {
  color: var(--Accent-colour);
}

/* FOR EXPERIENCE PAGE ONLY */
article {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  display: block;
  margin: 0px 2%;
  padding-bottom: 30px;

}
.Article-Title {
  text-decoration: underline;
}
.Article-About {
  font-style: italic;
  font-size: 20px;
}
.Article-Content {

}

/* Footer Content */
footer {
  display: block;
  box-sizing: border-box;
}

footer {
  justify-content: space-between;
  align-items: center;
  background-color: var(--F-colour);
  padding: 50px 5%;
  overflow: hidden;
}

.foottext {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #aaa;
}

.footline {
  width: 100%;
  margin: 10px;
}

.footcontent {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

/* Changes screen according to page width */
@media screen and (max-width: 910px) {
  /*Add burger code*/
}

/* SOCIAL MEDIA ICONS */

.fa {
  padding: 15px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 25%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fafoot {
  background: var(--HF-colour);
  text-decoration: none;
  padding: 15px;
  width: 20px;
  text-align: center;
  margin: 0px 4px;
}
