/* css resets for cross browser standardisation */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of css reset */
body {
  color: #ddd;
  scroll-behavior: smooth;
}

p,
li,
a,
label,
button {
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 1.5;
  margin: 20px 5px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  margin: 30px 0;
}

h3 {
  font-size: 1.6rem;
}

header#header-landing {
  background-image: url("../assets/james-harrison-vpOeXr5wmR4-unsplash.jpg");
}

article#about {
  background-image: url("../assets/christopher-gower-m_HRfLhgABo-unsplash.jpg");
}

article#portfolio {
  background-image: url("../assets/burst-kUqqaRjJuw0-unsplash.jpg");
}

.page {
  background-color: #222;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4vh 7vw;
  height: 104vh;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

p#intro-text {
  max-width: 60ch;
  line-height: 2;
}

.overlay {
  background-color: #000b;
  position: fixed;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.overlay-top {
  top: 0;
}

.container {
  z-index: 2;
}

#nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  position: fixed;
  top: 0px;
  padding: 30px 10px;
  z-index: 3;
  background-color: #0008;
}

ul#navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

ul#navigation li {
  list-style: none;
  padding: 0 20px;
}

ul#navigation li a {
  color: #ddd;
  text-decoration: none;
  font-size: 1.25rem;
}

ul#navigation li a:hover {
  color: grey;
}

ul#navigation li .highlight-link {
  border: 2px solid #ddd;
  padding: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

ul#navigation li .highlight-link:hover {
  color: #222;
  background-color: #ddd;
}

#title-container {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 700px;
}

#title-container #title {
  font-size: 3rem;
  line-height: 1.2;
}

#intro-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-content-container,
#portfolio-container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 80%;
  min-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.img-container,
.content-container {
  min-width: 200px;
  max-width: 450px;
}

.img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#headshot {
  width: 70%;
  max-width: 500px;
  border-radius: 50%;
}

#portfolio-container .portfolio {
  height: 50vh;
}

.portfolio-intro {
  color: grey;
  line-height: 2;
}

#work-title {
  margin: 20px 0 5px 0;
}

#work-subtitle {
  margin-top: 0;
  margin-left: 0;
  color: grey;
  font-size: 1.3rem;
}

.work-info {
  line-height: 2;
}

#get-in-touch-container {
  margin: auto;
  min-height: 60%;
  min-width: 100%;
}

#form-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#message-form input,
#message-form textarea {
  width: 30vw;
  min-width: 350px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

#message-form button {
  padding: 10px 20px;
}
/*# sourceMappingURL=index.css.map */